* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    justify-content: center;
}

.App {
    width: 800px;
}
.NavBar {
    background-color: aliceblue;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.NavBar_items {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BrandsCol {
    display: flex;
}
footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    background-color: #333; 
    color: white; 
    padding: 20px 0;
}